.Friends-names-display {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
}

.Friends-names-display i {
    color: rgba(0, 0, 0, 0.3);
}